*{
    margin: 0;
    padding: 0;
    
}

.contner{
    border: 2px solid red;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: red;

}

.box:hover{
    background-color: green;
    width: 250px;
    height: 150px;
    padding-top: 60px;
    cursor: text;
}